<form action="">
    <div class="inputBox">
        <input type="text" name="username" placeholder="Имя" required>
    </div>
    <div class="inputBox">
        <input type="email" name="email" placeholder="E-mail" required>
    </div>
    <div class="inputBox">
        <input type="text" name="homepage" placeholder="Homepage">
    </div>
    <div class="inputBox">
        <textarea name="comment" placeholder="Комментарий"></textarea>
    </div>
    <button type="submit">Отправить</button>
</form>
