
<app-form-for-comment (onSendComment)="pushComment($event)"></app-form-for-comment>

<table>
	<thead>
	<tr>
		<th (click)="changeSortBy('username')">Имя
			<span *ngIf="activeSortBy === 'username'">{{(activeOrderAsc ? '&#8593;' : '&#8595;')}}</span>
		</th>
		<th (click)="changeSortBy('email')">E-mail</th>
		<th (click)="changeSortBy('create_time')">Дата</th>
		<th>Сообщение</th>
	</tr>
	</thead>
	<tbody>
	<template ngFor let-comment [ngForOf]="comments">
		<tr>
			<td [attr.comment_id]="comment.comment_id">{{comment.username}}</td>
			<td>{{comment.email}}</td>
			<td>{{comment.create_time | date:"dd/MM/yyyy hh:mm"}}</td>
			<td>{{comment.text}}</td>
		</tr>
	</template>
	</tbody>
</table>
<ul class="pagination">
	<li class="active" *ngFor="let page of countPage" (click)="changePage(page)">{{page}}</li>
</ul>



